.wheel-item {
    position: relative;
    max-width: 600px;
    max-height: 60vh;
    overflow: hidden;
    border: 10px solid #fff;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    min-width: 600px;
    min-height: 400px;
}

@media only screen and (max-width: 500px) {
    img {
        min-width: 200px;
        min-height: 100px;
    }

    .wheel-item {
        max-width: 200px;
        max-height: 45vh;
    }
  }